h1 {
  text-align: center;
  color: cornflowerblue;
  font-size: 5em;
  font-family: 'Dancing Script', cursive;
  margin: auto;
  font: bold;
}

.main_img {
    width: 100%;
    height: 100%;
    background-image: url('https://y-sugawara-z7.github.io/wedding-home/top.jpg');
    background-size: cover;
}

div.inner-txt {
  height: 100%;
  background: rgba(255,255,255,0.5);
}
