h1 {
  text-align: center;
  color: cornflowerblue;
  font-family: 'Dancing Script', cursive;
  margin: auto;
  font: bold;
}

h2 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  margin: auto;
  font: bold;
}

.main_img {
  width: 100%;
  height: 100%;
  background-image: url('https://y-sugawara-z7.github.io/wedding-home/top.jpg');
  background-size: cover;
}

.message {
  text-align: center;
  margin: 0;
  padding: 0;
}

.message-box {
  padding: 0.5em 1em;
  margin: 2em 0.5em;
  border: double 5px #FFD700;
}

.covid {
  text-align: center;
}

div.inner-txt {
  padding-top: 1em;
  padding-bottom: 1em;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
}
