h1 {
  text-align: center;
  color: cornflowerblue;
  font-family: 'Dancing Script', cursive;
  margin: auto;
  font: bold;
}

h2 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  margin: auto;
  font: bold;
}

tr{
  height: 3em;
}

.profile-head {
  text-align: center;
  background-color: green;
  color: white;
}

.td-yu {
  text-align: left;
}

.td-center {
  text-align: center;
}

.td-marie {
  text-align: right;
}

.back-button {
  text-align: center;
  margin-bottom: 1em;
}

.profile-img {
  width: 80%;
}

.img-div {
  text-align: center;
}

.main_img {
  width: 100%;
  height: 100%;
  background-image: url('https://y-sugawara-z7.github.io/wedding-home/top.jpg');
  background-size: cover;
}

.drink_img {
  width: 100%;
}

.food_img {
  width: 100%;
}

.message {
  text-align: center;
  margin: 0;
  padding: 0;
}

.message-box {
  padding: 0.5em 1em;
  margin: 2em 0.5em;
  border: double 5px #FFD700;
}

.music_text {
  text-align: center;
}

.covid {
  text-align: center;
}

.covid_list {
  text-align: left;
  padding-left: 5em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.space {
  color: white;
}

.food-menu {
    margin: 2em 0;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.food-menu .box-title {
    font-size: 1.2em;
    background: #5fc2f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.food-menu p {
    padding: 15px 20px;
    margin: 0;
    text-align: center;
    font-style:italic;
}

.music_table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.music_table th, td{
  padding: 10px 0;
  text-align: center;
}

.music_header{
  background-color: #FFCCFF;
}

.music_header_y{
  background-color: #5fc2f5;
}

.music_table tr:nth-child(even){
  background-color: #eee
}

.zaseki_div {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.zaseki_img {
  width: 100%;
}

div.inner-txt {
  padding-top: 1em;
  padding-bottom: 1em;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
